<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Software Engineer, interested in Internet of Things (IoT) and Embedded Systems, experienced with both designing and programming in bare-metal and RTOS environment for IoT solutions. Focusing on <a href="https://zigbeealliance.org/solution/zigbee/" target="_blank">Zigbee</a> stack and concurrent <a href="https://www.silabs.com/wireless/multiprotocol" target="_blank">Multiprotocol (Zigbee+OpenThread+BLE)</a> development.</p>
</div><!--//summary-->
</section><!--//section-->
