<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Software Engineer, interested in Embedded Systems and Internet of Things (IoT), experienced with both designing and programming in bare-metal and RTOS environment for IoT solutions. Currently participating in the stack development of <a href="https://zigbeealliance.org/solution/zigbee/" target="_blank">Zigbee</a> wireless protocol in <a href="https://www.silabs.com" target="_blank">Silicon Labs</a>.</p>
</div><!--//summary-->
</section><!--//section-->
