<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Software Engineer, interested in Embedded Systems and Internet of Things (IoT), experienced with low-level programming in bare-metal and RTOS environment, participated in multiple projects of smart devices with ARM-based SoCs including SiLabs EFR32, STMicroelectronics STM32, Qualcomm MSM, MediaTek MT, Samsung Exynos series of chips.</p>
</div><!--//summary-->
</section><!--//section-->
