<div class="education-container container-block">
<h2 class="container-block-title">Coursework</h2>
<div class="item">
    <h4 class="degree">Computer Science</h4>
    <div class="time">• Computer Networks</div>
    <div class="time">• Computer and Network Security</div>
    <div class="time">• Operating Systems</div>
    <div class="time">• Relational Databases</div>
    <div class="time">• Parallel Programming</div>
    <div class="time">• Algorithms</div>
    <div class="time">• Artificial Intelligence</div>
    <div class="time">• Computer Graphics</div>
    <div class="time">• Computer Vision</div>
    <div class="time">• Web Applications</div>
    <div class="time">• Human-Computer Interaction</div>
    <div class="time">• Software Systems</div>
    <div class="time">• Software Construction</div>
    <div class="time">• Software Engineering Process</div>
    <div class="time">• Principles of Programming Languages</div>
    <div class="time">• Model-driven Software Development</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Electrical Engineer</h4>
    <div class="time">• Internet of Things</div>
    <div class="time">• Biochips and Medical Imaging</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Information Systems</h4>
    <div class="time">• Financial Computing</div>
    <div class="time">• Networked Information System</div>
    <div class="time">• Information Systems Analysis and Modelling</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">Project Management</h4>
    <div class="time">• E-Commerce for Managers</div>
    <div class="time">• Project Management Principle</div>
    <div class="time">• Requirement Elicitation and Analysis Techniques</div>
    <div class="time">• Communication for Computing Professionals</div>
</div><!--//item-->

</div><!--//education-container-->
