<div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
  <a href="https://www.stanford.edu/" target="_blank"><h4 class="degree">Stanford University</h4></a>
  <div class="time">IoT Graduate Certificate</div>
  <div class="time">Dec. 2020 - Present</div>
</div><!--//item-->
<div class="item">
    <a href="https://www.jhu.edu/" target="_blank"><h4 class="degree">Johns Hopkins University</h4></a>
    <div class="time">MS in Computer Science</div>
    <div class="time">Aug. 2017 - Dec. 2018</div>
    <div class="time">GPA: 3.9/4.0</div>
</div><!--//item-->
  <div class="item">
    <a href="http://www.anu.edu.au/" target="_blank"><h4 class="degree">Australian National University</h4></a>
    <div class="time">Master of Computing</div>
    <div class="time">Feb. 2014 - Dec. 2015</div>
    <div class="time">GPA: 6.75/7.0</div>
</div><!--//item-->
  <div class="item">
    <a href="http://portal.smu.edu.cn/en/index.htm" target="_blank"><h4 class="degree">Southern Medical University</h4></a>
    <div class="time">Bachelor of Medicine</div>
    <div class="time">Aug. 2008 - Jun. 2013</div>
    <div class="time">Excellent Graduate</div>
</div><!--//item-->
</div><!--//education-container-->
