<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2023.04 - Present, Boston, United States</div>
                        </div><!--//upper-row-->
                        <a href="https://www.silabs.com" target="_blank"><div class="company"><u>Silicon Labs</u></div></a>
                    </div><!--//meta-->
                    <div class="details">
                      <p><b>Work Description: </b></p>
                      <p>Zigbee Direct: More details are coming</p>
                  </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer II</h3>
                            <div class="time">2022.04 - 2023.04, Boston, United States</div>
                        </div><!--//upper-row-->
                        <a href="https://www.silabs.com" target="_blank"><div class="company"><u>Silicon Labs</u></div></a>
                    </div><!--//meta-->
                    <div class="details">
                      <p><b>Work Description: </b></p>
                      <p>Concurrent Multi-Protocol (CMP): CMP empowers both EFR32 series 1 and series 2 chips running Zigbee, Thread, and BLE wireless connectivity concurrently. My responsibility includes the pro-compliance-posix implementation to get MAC certification for Multiprotocol-RCP architecture, multiprotocol host apps optimization (CPU consumption and stability), Silicon Labs' multiprotocol docker container integration, supporting customers with NCP-to-RCP migration.</p>
                      <p>Zigbee and Multiprotocol Hardware Continuous Integration (HW CI): HW CI runs Zigbee and Multiprotocol tests automatically with new commits, serving as a guard for development and a checkpoint for release.</p>
                      <p>Zig-Dock: Mentored our summer intern to implement Zig-Dock, an architecture and OS independent docker container solution for multiprotocol development. It allows developers to develop, build and run multiprotocol apps on their laptops for different architectures (currently support x84_64, i386, arm32v7 and arm64v8).</p>
                  </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2019.05 - 2022.04, Boston, United States</div>
                        </div><!--//upper-row-->
                        <a href="https://www.silabs.com" target="_blank"><div class="company"><u>Silicon Labs</u></div></a>
                    </div><!--//meta-->
                    <div class="details">
                      <p><b>Work Description: </b></p>
                      <p>Participated in the design and implementation of the following projects for the <a href="https://www.silabs.com/wireless/zigbee" target="_blank">Silicon Labs (SiLabs) Zigbee Stack</a>:</p>
                      <p>2021: </p>
                      <p>• Zigbee on SLC: <a href="https://siliconlabs.github.io/slc-specification" target="_blank"><b>SLC (Silicon Labs Configurator)</b></a> is a metadata specification for <a href="https://github.com/SiliconLabs/gecko_sdk" target="_blank"><b>Silicon Labs SDKs</b></a>. It also describes methods of creating and configuring embedded software projects for Silicon Labs IoT devices. My resposibility in this project is to lead the "Zigbee Host/NCP migration" part to make Silabs Zigbee Host/NCP apps SLC-compatible. Major upgrades include: new project & component metadata files, new command line interface, new event system, and improved app init & system tick logic. The goal of moving Silabs Zigbee apps to SLC is to adapt a more developer-friendly and modern software design pattern so as to improve the developers' experience and the scalability of the Zigbee stack.</p>
                      <p>• Zigbee R23 SLCification: Zigbee R23 is the next revison of Zigbee Spec with several security, commissioning and routing improvements, e.g. DLK (Dynamic Link Key) Negotiation, TLV (Tag Length Value) processing, etc. My responsibility is to lead the "Zigbee R23 SLCification" project to componentize R23 features and port the R23 stack codes to be SLC-compatible.</p>
                      <p>2020: </p>
                      <p>• Multi PAN: a SiLabs proprietary Zigbee feature that allows a device to operate on multiple Zigbee networks. These Zigbee networks are able to have different PAN IDs, security levels, and topologies. A multi-PAN device is able to serve different roles in different networks, for example, being the coordinator of network 1 and being a sleepy end device of network 2, or being coordinators of both networks at the same time, etc.</p>
                      <p>• Link Key Retrieval: a SiLabs proprietary Zigbee feature that dynamically retrieves the correct link key used by sending APS encrypted messages with NodeID even when the NodeID of a specific device keeps changing.</p>
                      <p>2019: </p>
                      <p>• EmberZNet Serial Protocol (EZSP) v8.0: EZSP is used by a host application processor to interact with the Zigbee stack running on a Network Co-Processor (NCP). A new frame format has been introduced to reorganize frame segments so that both EZSP frame control and EZSP frame ID are extended from 1 byte to 2 bytes but the total length of each frame is the same as before.</p>
                      <p>• Works With All Hubs (WWAH) Test Harness: WWAH was announced by CSA in May 2019 and is a set of features focusing on manageability, security, and reliability. SiLabs WWAH Test Harness is an automation test tool and contains a set of python scripts corresponding to each test case specified in the WWAH Test Case Specification.</p>
                  </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Intern & GSoC Mentor</h3>
                            <div class="time">2015.11 - 2016.08, Canberra, Australia</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://cs.anu.edu.au/research/student-research-projects/rogas" target="_blank" class="company"><u>ANU College of Engineering</u></a> & <a href="https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/" target="_blank" class="company"><u>Google Summer of Code</u></a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b></p>
                        <p>Participated in the <a href="https://github.com/CornucopiaRG/Rogas" target="_blank">Rogas (Relational-Oriented Graph Analytic System)</a> project with following responsibility:</p>
                        <p>• Designed the system framework and the SQL-extended query language (RG-SQL).</p>
                        <p>• Implemented the relation-graph hybrid data model and the query processing engine by integrating PostgreSQL with <a href="https://graph-tool.skewed.de" target="_blank"><b>Graph-tool</b></a>, <a href="http://snap.stanford.edu" target="_blank"><b>SNAP</b></a>, and <a href="http://networkx.github.io" target="_blank"><b>NetworkX</b></a>.</p>
                        <p>• Wrote the user manual for Rogas and co-authored two papers respectively published in two top conferences i.e. VLDB2016 and ER2016.</p>
                        <p><b>Link: </b><a href="https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/" target="_blank"><u>https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/</u></a></p>
                       <p><b>Link: </b><a href="https://cs.anu.edu.au/research/student-research-projects/rogas" target="_blank"><u>https://cs.anu.edu.au/research/student-research-projects/rogas</u></a></p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
