<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">2019.05 - Present, Boston, United States</div>
                        </div><!--//upper-row-->
                        <a href="https://www.silabs.com" target="_blank"><div class="company"><u>Silicon Labs</u></div></a>
                    </div><!--//meta-->
                    <div class="details">
                      <p><b>Work Description: </b></p>
                      <p>Participated in the development of Zigbee Stack for the <a href="https://www.silabs.com/wireless/zigbee" target="_blank">SiLabs EFR32 SoC</a> in the following projects:</p>
                      <p>• EmberZNet Serial Protocol (EZSP) Version 8.0: EZSP is used by a host application processor to interact with the EmberZNet PRO stack running on a Network Co-Processor (NCP). I designed and implemented a new frame format by unifying frame segments together for simplicity and scalability. Thanks to this new design, the EZSP (since version 8.0) expands both EZSP frame control and EZSP frame ID from 1 byte to 2 bytes, but keeps the total length of each frame as the same as before.</p>
                      <p>• Works With All Hubs (WWAH): WWAH is a set of features at the application and network layers of Zigbee 3.1, which focuses on manageability, security and reliability. I worked on the following WWAH features in both stack and test harness implementations: rejoin algorithm, pending network update, parent classification, using trust center for cluster server, mac poll failure retry, and survey beacons.</p>
                      <p>More is coming soon, stay tuned!</p>
                  </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Driver Engineer</h3>
                            <div class="time">2017.03 - 2017.06, Shanghai, China</div>
                        </div><!--//upper-row-->
                        <a href="http://www.longcheer.com" target="_blank"><div class="company"><u>Longcheer Technology</u></div></a>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b></p>
                        <p>Participated in smart device projects of Qualcomm(MSM8909/MSM8953 chipset) and MediaTek(MT6737/MT6757/MT6797 chipset) platform with following responsibility:</p>
                        <p>• Maintained the modem module upgrade: created <b>Shell scripts</b> to streamline the process of altering configurations and shortened at least 30% compiling time.</p>
                        <p>• Used <a href="https://developer.android.com/studio/command-line/adb" target="_blank"><b>ADB</b></a> and <a href="https://traceview.solarwinds.com" target="_blank"><b>TraceView</b></a> with QXDM (Qualcomm platform) and MTK GAT (MediaTek platform) for device log analysis and system debug.</p>
                        <p>• Conducted device performance tuning: memory compression (ZRAM), process thrashing analysis, boot time optimization (Double the boot speed for certain cases).</p>
                  </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Summer Intern & GSoC Mentor</h3>
                            <div class="time">2015.11 - 2016.08, Canberra, Australia</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://cs.anu.edu.au/research/student-research-projects/rogas" target="_blank" class="company"><u>ANU College of Engineering</u></a> & <a href="https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/" target="_blank" class="company"><u>Google Summer of Code</u></a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Work Description: </b></p>
                        <p>Participated in the <a href="https://github.com/CornucopiaRG/Rogas" target="_blank">Rogas (Relational-Oriented Graph Analytic System)</a> project with following responsibility:</p>
                        <p>• Designed the system framework and the SQL-extended query language (RG-SQL).</p>
                        <p>• Implemented the relation-graph hybrid data model and the query processing engine by integrating PostgreSQL with <a href="https://graph-tool.skewed.de" target="_blank"><b>Graph-tool</b></a>, <a href="http://snap.stanford.edu" target="_blank"><b>SNAP</b></a>, and <a href="http://networkx.github.io" target="_blank"><b>NetworkX</b></a>.</p>
                        <p>• Wrote the user manual for Rogas and co-authored two papers respectively published in two top conferences i.e. VLDB2016 and ER2016.</p>
                        <p><b>Link: </b><a href="https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/" target="_blank"><u>https://summerofcode.withgoogle.com/archive/2016/projects/5092347436072960/</u></a></p>
                       <p><b>Link: </b><a href="https://cs.anu.edu.au/research/student-research-projects/rogas" target="_blank"><u>https://cs.anu.edu.au/research/student-research-projects/rogas</u></a></p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
