<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>School Projects</h2>
                <h2 class="section-title"><i class="fa fa-archive"></i>School Projects</h2>

                <!--
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div>
                -->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/Matter_Smart_Home" target="_blank">One Unified Smart Home Ecosystem Does Matter</a></span> - <span class="project-tagline">A survey of IoT devices used in the smart home domain. More info about this project, please refer to the <a href="https://github.com/Minjian/Matter_Smart_Home/blob/main/Report-One%20Unified%20Smart%20Home%20Ecosystem%20Does%20Matter.pdf" target="_blank"><u>report</u></a> and <a href="https://prezi.com/view/rmAKST7AEwKgDpgEd1qQ/" target="_blank"><u>presentation slides</u></a>. </span>
                    <iframe src="https://prezi.com/p/embed/rmAKST7AEwKgDpgEd1qQ/" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay; fullscreen" height="315" width="560"></iframe>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/CornucopiaRG/Rogas" target="_blank">Rogas</a></span> - <span class="project-tagline">A declarative framework for network analytics. It not only can provides a high-level declarative query language to formulate analysis queries, but also can unify different graph algorithms within the relational environment for query processing. More info about this project, please refer to <a href="https://github.com/Minjian/Rogas/blob/master/Thesis-Towards%20a%20Unified%20Framework%20for%20Network%20Analytics.pdf" target="_blank"><u>my thesis</u></a> and <a href="https://github.com/Minjian/Rogas/blob/master/Project_Final_Presentation.pdf" target="_blank"><u>presentation slides</u></a>. </span>
                    <video width="594" height="362" muted autoplay loop>
                        <source src="assets/images/Rogas_slides.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/HCI_Messenger_Redesign" target="_blank">HCI: Messenger Redesign</a></span> - <span class="project-tagline">This project is about redesigning the interface of Facebook Messenger. You can play the prototype via this link: <a href="https://marvelapp.com/614f9if" target="_blank"><u>https://marvelapp.com/614f9if</u></a>. You can also watch the video prototype for this project via this link: <a href="https://youtu.be/CMdXL-0K28A" target="_blank"><u>https://youtu.be/CMdXL-0K28A</u></a>. More info about this project, please refer to the <a href="https://github.com/Minjian/HCI_Messenger_Redesign/blob/master/DesignBook_Messenger_Redesign.pdf" target="_blank"><u>design book</u></a> and <a href="https://github.com/Minjian/HCI_Messenger_Redesign/blob/master/PresentationSlides_Messenger_Redesign.pdf" target="_blank"><u>presentation slides</u></a>.</span>
                    <video width="594" height="362" muted autoplay loop>
                        <source src="assets/images/Messenger_slides.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/HCI_Siri_Drive_Mode" target="_blank">HCI: Siri Drive Mode</a></span> - <span class="project-tagline">This project is about designing "Drive Mode" interactions for Siri. You can play the prototype via this link: <a href="https://marvelapp.com/39g1d8h " target="_blank"><u>https://marvelapp.com/39g1d8h</u></a>. You can also watch the video prototype for this project via this link: <a href="https://youtu.be/qUU5xABT7Aw" target="_blank"><u>https://youtu.be/qUU5xABT7Aw</u></a>. More info about this project, please refer to the <a href="https://github.com/Minjian/HCI_Siri_Drive_Mode/blob/master/DesignBook_Siri_Drive_Mode.pdf" target="_blank"><u>design book</u></a> and <a href="https://github.com/Minjian/HCI_Siri_Drive_Mode/blob/master/PresentationSlides_Siri_Drive_Mode.pdf" target="_blank"><u>presentation slides</u></a>.</span>
                    <video width="594" height="362" muted autoplay loop>
                        <source src="assets/images/Siri_Drive_slides.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/SSSP_OpenMP_CUDA" target="_blank">SSSP_Parallel_Programming</a></span> - <span class="project-tagline">Used OpenMP and CUDA to implement parallel programming for Sing-Source Shortest Path (SSSP) algorithms, and deployed an AWS server to conduct the experiment for performance comparison. </span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/Minjian/SSSP_OpenMP_CUDA" target="_blank">SSSP_Parallel_Programming</a></span> - <span class="project-tagline">Used OpenMP and CUDA to implement parallel programming for Sing-Source Shortest Path (SSSP) algorithms, and deployed an AWS server to conduct the experiment for performance comparison. </span>
                </div><!--//item-->

            </section><!--//section-->
